<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADM Home</title>
    <link rel="stylesheet" th:href="@{/css/AdmHome.css}" />
  </head>
  <body>
    <div class="container-geral-admo-home">
      <main>
        <div class="box-todos-adm">
          <h1>Olá, Administrador!</h1>
          <p>Seja bem-vindo ao painel administrativo do Hotel Ilha do Sol.</p>
        </div>
      </main>
      <header>
        <img th:src="@{/img/logo-1.png}" alt="Logo" />
      </header>
    </div>
  </body>
</html>
