<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <link rel="stylesheet" th:href="@{/css/Perfil.css}" />
  </head>
  <body>
    <header>
      <div class="container-geral-header">
        <div class="box-img-logo">
          <img th:src="@{/img/logo.png}" alt="" />
        </div>
        <div class="box-links-pages">
          <nav>
            <a th:href="@{/home}">INÍCIO</a>
            <a th:href="@{/quartos}">RESERVAR</a>
            <a th:href="@{/quartos}">QUARTOS</a>
            <a th:href="@{/cadastro}">CONTATO</a>
          </nav>
          <a class="link-icones" th:href="@{/reservas}">
            <ion-icon class="icone-icon" name="airplane-outline"></ion-icon>
          </a>
          <a class="link-icones" th:href="@{/perfil}">
            <ion-icon class="icone-icon" name="person-outline"></ion-icon>
          </a>
        </div>
      </div>
    </header>
    <main>
      <div class="container-geral-reservas">
        <div class="box-titulo-text">
          <h2>Meu Perfil</h2>
          <p>Aqui você consulta seus dados pessoais!</p>
        </div>
        <div class="box-dados-perfil">
          <p>Nome: <strong th:text="${user.username}">Nome do usuário</strong></p>
          <p>Email: <strong th:text="${user.email}">email@exemplo.com</strong></p>
          <p>CPF: <strong th:text="${user.cpf}">000.000.000-00</strong></p>
        </div>
        <div class="box-botoes">
          <a th:href="@{/reservas}" class="btn-reservas">Minhas Reservas</a>
          <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn-logout">Sair</button>
          </form>
        </div>
      </div>
    </main>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
