<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quartos / Suites</title>
    <link rel="stylesheet" th:href="@{/css/QuartosSuites.css}" />
  </head>
  <body>
    <header>
      <div class="container-geral-header-quartos">
        <div class="box-img-logo">
          <img th:src="@{/img/logo.png}" alt="" />
        </div>
        <div class="box-links-pages">
          <nav>
            <a th:href="@{/home}">INÍCIO</a>
            <a th:href="@{/quartos}">RESERVAR</a>
            <a th:href="@{/home}">O HOTEL</a>
            <a th:href="@{/cadastro}">CONTATO</a>
          </nav>
          <a class="link-icones" href="http://" target="_blank" rel="noopener noreferrer">
            <ion-icon class="icone-icon" name="airplane-outline"></ion-icon>
          </a>
          <a class="link-icones" th:href="@{/login}" target="_blank" rel="noopener noreferrer">
            <ion-icon class="icone-icon" name="person-outline"></ion-icon>
          </a>
        </div>
      </div>
    </header>
    <main>
      <div class="container-geral-reservas-quartos">
        <div class="box-titulo-text">
          <h2>QUARTOS E SUÍTES</h2>
          <p>Relaxe e cuide de si mesmo em nossas suítes exclusivas.</p>
        </div>
        <div class="box-cards-quartos">
          <div class="box-card-dorm" th:each="quarto : ${quartos}">
            <div class="box-image">
              <img th:src="@{${quarto.imageUrl}}" alt="imagem quarto" />
            </div>
            <div class="box-sub-conf">
              <p th:text="${quarto.nome}">Quarto XYZ</p>
              <p th:text="${quarto.descricao}">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta
                eaque quam, fugit corrupti quisquam aliquid molestiae eum
                suscipit, aspernatur nulla facilis quia vel. Iusto laborum
                quaerat nostrum alias saepe voluptates?
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container-geral-footer">
        <div class="box-logo-links">
          <div class="box-logo-footer">
            <img th:src="@{/img/logo.png}" alt="logo hotel" />
          </div>
          <div class="box-links-footer">
            <nav>
              <a th:href="@{/home}">INÍCIO</a>
              <a th:href="@{/quartos}">RESERVAR</a>
              <a th:href="@{/home}">O HOTEL</a>
              <a th:href="@{/cadastro}">CONTATO</a>
            </nav>
          </div>
          <div class="box-links-footer">
            <nav>
              <a th:href="@{/home}">COMODIDADES</a>
              <a th:href="@{/perfil}">MEU PERFIL</a>
              <a th:href="@{/reservas}">MINHAS RESERVAS</a>
            </nav>
            <div class="formas-pgto">
              <img th:src="@{/img/1.png}" alt="imagem">
              <img th:src="@{/img/2.png}" alt="imagem">
              <img th:src="@{/img/3.png}" alt="imagem">
              <img style="height: 20px;" th:src="@{/img/4.png}" alt="imagem">
              <img th:src="@{/img/5.png}" alt="imagem">
            </div>
          </div>
          
        </div>
        <div class="box-text-footer">
          <p>© 2025 Ilha do Sol. Todos os direitos reservados.</p>
    </footer>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
